<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>NYC - Design Studio</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="js/fancybox/jquery.fancybox.css" rel="stylesheet" />

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body data-spy="scroll" data-offset="0" data-target="#theMenu">

        <!-- Menu -->
        <nav class="menu" id="theMenu">
            <div class="menu-wrap">
                <h1 class="logo"><a href="http://www.ulboracms.org">Ulbora CMS</a></h1>
                <i class="fa fa-times menu-close"></i>
                <a href="#home" class="smoothScroll">Home</a>
                <a href="#about" class="smoothScroll">About</a>
                <a href="#project" class="smoothScroll">Project</a>
                <a href="#services" class="smoothScroll">Services</a>
                <a href="#contact" class="smoothScroll">Contact</a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
            </div>

            <!-- Menu button -->
            <div id="menuToggle"><i class="fa fa-bars"></i></div>
        </nav>

        <section id="home" name="home"></section>
        <div id="headerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>ULBORA CMS</h1>
                    </div>
                </div><! --/row -->
            </div><! --/container -->
        </div><! --/headerwrap -->

        <section id="about" name="about"></section>
        <div id="aboutwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 name">
                        <img class="img-responsive" src="img/ulboracms.png">					

                    </div><! --/col-lg-4-->
                    <div class="col-lg-8 name-desc">
                        {{#each content.articleLocations.About}}
                        <h2>{{title}}</h2>
                        					
                        <div class="col-md-6">
                            {{{articleText.text}}}
                        </div>

                        {{/each}}	
                    </div><! --/col-lg-8-->

                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /aboutwrap -->

        <! -- ABOUT SEPARATOR -->
        <div class="sep about" data-stellar-background-ratio="0.5"></div>

        <! -- PROJECT SECTION -->
        <section id="project" name="project"></section>
        <div id="portfoliowrap">
            <div class="container">
                <div class="row">
                    {{#each content.articleLocations.Project}}                                     
                        <div class="the-project">
                            {{{articleText.text}}}
                        </div>                   
                    {{/each}} 
                </div><!-- /row -->               
            </div><! --/container -->            
        </div><! --/Portfoliowrap -->
        <! -- PROJECT SEPARATOR -->
        <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>

        <! -- SERVICE SECTION -->
        <section id="services" name="services"></section>
         <div id="portfoliowrap">
            <div class="container">
                <div class="row">
                    {{#each content.articleLocations.Services}}                                     
                        <div class="the-project">
                            {{{articleText.text}}}
                        </div>                   
                    {{/each}} 
                </div><!-- /row -->               
            </div><! --/container -->            
        </div><! --/Portfoliowrap -->
        
       

        <div id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 mt">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active mb centered">
                                    {{#each content.articleLocations.Founder}} 
                                        <h3>{{title}}</h3>                                        
                                            {{{articleText.text}}}                                                      
                                    {{/each}}                                     
                                </div>

                                <div class="item mb centered">
                                    {{#each content.articleLocations.Dev1}} 
                                        <h3>{{title}}</h3>                                        
                                            {{{articleText.text}}}                                                      
                                    {{/each}}                                     
                                </div>

                                <div class="item mb centered">
                                    {{#each content.articleLocations.Dev2}} 
                                        <h3>{{title}}</h3>                                        
                                            {{{articleText.text}}}                                                      
                                    {{/each}}                                     
                                </div>                                

                            </div>
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                        </div>

                    </div><! --/col-lg-8 -->
                </div><! --/row -->
            </div><! --/container -->
        </div><! --/testimonials -->

        <! -- SERVICE SECTION -->
        <section id="contact" name="contact"></section>
        <! -- CONTACT SEPARATOR -->
        <div class="sep contact" data-stellar-background-ratio="0.5"></div>

        <div id="contactwrap">
            <div class="container">                
                <div class="row">
                   {{#each content.articleLocations.Contact}}                                     
                        <div class="the-project">
                            {{{articleText.text}}}
                        </div>                   
                    {{/each}} 


                </div><! --/row -->
            </div><!-- /container -->
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/fancybox/jquery.fancybox.js"></script>    
        <script src="js/main.js"></script>
        <script>
        $(function(){
                $.stellar({
                        horizontalScrolling: false,
                        verticalOffset: 40
                });
        });
        </script>

        <script type="text/javascript">
$(function() {
//    fancybox
  jQuery(".fancybox").fancybox();
});
        </script>

    </body>
</html>
