<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Blog Post - Start Bootstrap Template</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/blog-post.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">Ulbora CMS</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        {{# if loggedIn}}
                        <li>
                            <a href="/logout">Logout</a>
                        </li>  
                        {{else}} 
                        <li>
                            <a href="/login">Login</a>
                        </li>  
                        {{/if}}                    
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
            
                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1>{{article.title}}</h1>

                    <!-- Author -->
                    <p class="lead">
                        by: {{article.user.lastName}}
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.createdDate}}</p>

                    <hr>
                    {{{article.articleText.text}}}  
                    <hr>

                    <!-- Blog Comments -->
                    {{#if article.allowComments }}
                    {{#if article.commentsRequireLogin }}
                    <a href="/login">Comments Require Login</a>
                    {{else}}
                    <!-- Comments Form -->
                    <div class="well">
                        <h4>Leave a Comment:</h4>
                        <form action="/comment" method="post" role="form">
                            <input name="article" type="hidden" value="{{article._id}}"/>
                            <div class="form-group">
                                <textarea name="text" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                        {{#each article.commentList}}   
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="img/comment-icon.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <small>{{createdDate}}</small>
                                </h4>
                                {{text}}
                                <!-- Nested Comment -->
                                    {{#each subCommentList}}   
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="img/comment.png" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <small>{{createdDate}}</small>
                                            </h4>
                                            {{text}}
                                        </div>
                                    </div>
                                    {{/each}}
                                    <!-- Comments Form -->
                                    <div class="well">
                                        <h4>Leave a Comment:</h4>
                                        <form action="/comment" method="post" role="form">
                                            <input name="article" type="hidden" value="{{article}}"/>
                                            <input name="otherComment" type="hidden" value="{{_id}}"/>
                                            <div class="form-group">
                                                <textarea name="text" class="form-control" rows="3"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                <!-- End Nested Comment -->
                            </div>
                        </div>
                    {{/each}}  
                    
                    {{/if}}
                    {{/if}}
                </div>
                
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">
                   
                    <!-- Blog Categories Well -->
                   
                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Google Ads</h4>
                        <p>Place Google Ads on your site to earn money from your blog posts.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Ulbora CMS 2016</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
